{% extends 'base.html' %}
{% load static %}
{% block title %}Blog{% endblock %}

{% block content %}
<div class="container mt-5">
  <h1 class="text-center mb-4">My Blogs & Media</h1>

  <div class="row">
    <!-- YouTube Blog -->
    <div class="col-md-6 mb-4">
      <div class="card h-100 shadow-sm">
        <div class="card-body">
          <h5 class="card-title">My YouTube Tech Channel</h5>
          <p class="card-text">
            I post tutorials, project walkthroughs, and tech reviews on my YouTube channel. Check it out to learn coding with fun examples!
          </p>
          <a href="https://www.youtube.com/@nishith-themaestro2868" target="_blank" class="btn btn-danger">Watch on YouTube</a>
        </div>
      </div>
    </div>
    
{% endblock %}
    