{% extends 'base.html' %}
{% load static %}

{% block title %}Contact{% endblock %}

{% block content %}
<div class="container mt-5">
  <h1 class="text-center mb-4">Contact Me</h1>

  <div class="row justify-content-center">
    <div class="col-md-6">
      <ul class="list-group">
        <li class="list-group-item">
          <strong>Email:</strong> nishith@example.com
        </li>
        <li class="list-group-item">
          <strong>Phone:</strong> +0000000
        </li>
        <li class="list-group-item">
          <strong>GitHub:</strong> 
          <a href="https://github.com/Nishith-arch6" target="_blank">
            github.com/Nishith-arch6
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}