{% extends 'base.html' %}
{% load static %}
{% block title %}Education{% endblock %}

{% block content %}
<div class="container mt-5">
  <h1 class="text-center mb-4">My Education</h1>

  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">B.Tech in Computer Science and Engineering (AIML)</h5>
      <p class="card-text">S-VYASA DEEMED TO BE University, Bangalore<br>2024 – 2028</p>
    </div>
  </div>

  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">Class 12 – </h5>
      <p class="card-text">BHASHYAM<br>2020 – 2022</p>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Class 10</h5>
      <p class="card-text">BHASHYAM<br>2018 – 2020</p>
    </div>
  </div>
</div>
{% endblock %}