{% extends 'base.html' %}
{% load static %}
{% extends 'base.html' %}
{% block content %}
<div class="container my-5">
    <h2>About Me</h2>
    <p>
        I'm Karthikeya, a dedicated developer passionate about turning ideas into real-world web applications. I have hands-on experience with Python, Django, HTML, CSS, and Bootstrap. I'm currently pursuing my B.Tech in Computer Science at SVYASA University and constantly explore new technologies like React and REST APIs.
    </p>
    <p>
        I believe in lifelong learning and solving real problems using code. Outside of development, I enjoy writing blogs and contributing to open-source projects.
    </p>
</div>
{% endblock %}


{% block title %}About Me{% endblock %}

{% block content %}

{% endblock %}