{% extends 'base.html' %}
{% block content %}
<div class="container my-5">
    <h2>My Blogs</h2>
    <ul class="list-group">
        <li class="list-group-item">
            <a href="https://medium.com/@nidhi-dev/how-i-built-my-first-django-app-123abc" target="_blank">
                How I Built My First Django App
            </a>
        </li>
        <li class="list-group-item">
            <a href="https://dev.to/nidhi_dev/bootstrap-tips-for-beginners-456def" target="_blank">
                Bootstrap Tips for Beginners
            </a>
        </li>
    </ul>
</div>
{% endblock %}

