
{% extends 'base.html' %}
{% block content %}
<div class="container my-5">
    <h2>Certifications</h2>
    <ul class="list-group">
        <li class="list-group-item">
            <strong>Python for Everybody</strong> – Coursera (Dr. Charles Severance)
        </li>
        <li class="list-group-item">
            <strong>Frontend Web Development Bootcamp</strong> – Udemy
        </li>
        <li class="list-group-item">
            <strong>Git & GitHub Masterclass</strong> – LinkedIn Learning
        </li>
    </ul>
</div>
{% endblock %}

 
{% endblock %}