{% extends 'base.html' %}
{% load static %}

{% block title %}Contact{% endblock %}

{% block content %}
<div class="container mt-5">
  <h1 class="text-center mb-4">Contact Me</h1>

  <div class="row justify-content-center">
    <div class="col-md-6">
      <ul class="list-group">
        <li class="list-group-item">
          <strong>Email:</strong> shreyaashekhar05@gmail.com
        </li>
        <li class="list-group-item">
          <strong>Phone:</strong> +91 XXXXXXXXXX
        </li>
        <li class="list-group-item">
          <strong>GitHub:</strong> 
          <a href="https://github.com/shreyaashekhar05" target="_blank">
            github.com/shreyaashekhar05
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
