{% extends 'base.html' %}
{% load static %}
<div class="container my-5">
    <h2>Education</h2>
    <ul class="list-group">
        <li class="list-group-item">
            <strong>B.Tech in Computer Science</strong> – SVYASA University (2022–2026)<br>
            CGPA: 8.6
        </li>
        <li class="list-group-item">
            <strong>Class 12 – CBSE</strong> – XYZ Public School<br>
            Percentage: 92%
        </li>
        <li class="list-group-item">
            <strong>Class 10 – CBSE</strong> – XYZ Public School<br>
            Percentage: 95%
        </li>
    </ul>
</div>

{% block title %}Education{% endblock %}

{% block content %}


{% endblock %}
