{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container my-5">
    <h2>Featured in CodeVerse 2025</h2>
    <p>
        I was featured in the CodeVerse program, where I showcased my technical skills and creativity. 
        Being recognized among the top contributors was a proud moment that boosted my confidence and motivation to keep learning and growing in the field of development.
    </p>
    <img src="{% static 'img/codeverse.jpg' %}" alt="CodeVerse Event" class="img-fluid rounded shadow">
</div>
{% endblock %}

