{% extends 'base.html' %}
{% load static %}

{% block title %}About Me{% endblock %}

{% block content %}
<html>
    <body>
    <h1>About Me</h1>
    <p>I am Harshini N, a passionate and curious learner with a keen interest in technology and programming. 
I enjoy exploring new tools and working on creative projects that allow me to apply what I learn. 
Whether it's automating tasks with Python or designing small web apps, I love solving problems and 
building useful things. I'm also enthusiastic about AI/ML and I'm constantly looking for opportunities 
to grow in these fields. Outside of tech, I enjoy drawing and watching movies, which help me stay inspired 
and creative. </p>
</body>
</html>
{% endblock %}

