{% extends 'base.html' %}
{% load static %}
{% block title %}Education{% endblock %}

{% block content %}
<html>
    <body>
    <h1>Education</h1>
    <p>I am currently pursuing a B-Tech in AIML from S-Vyasa Deemed to Be University, located in Bangalore. 
I have gained knowledge in various subjects including programming, web development. Throughout my
academic journey, I have actively participated in hands-on projects and certification courses to 
enhance my technical skills and practical experience.</p>
</body>
</html>
{% endblock %}
