{% extends 'base.html' %}
{% load static %}
{% block title %}Education{% endblock %}

{% block content %}
<html>
    <body>
    <section id ="Codeverse">
        <h2>Codeverse_2025</h2>
        <p>I was featured in the CodeVerse_2025 program, where I had the opportunity to showcase my technical skills,
        creativity, and problem-solving abilities. Being recognized among the top contributors in the program was 
        a proud milestone that strengthened my passion for software development and encouraged me to keep learning and innovating.</p>
    <h1>Projects:</h1>
    <ol>
        <li><strong> WhatsApp Message Automation Tool:</strong>Built an automation script using Python, PyAutoGUI, and pywhatkit to schedule and send WhatsApp messages
        automatically — demonstrating real-world application of Python scripting.</li>
        <li><strong>Wikipedia Search Bot:</strong>Developed a Python tool that uses pywhatkit to fetch and display summarized information from Wikipedia, 
        useful for quick learning and research.</li>
         <li><strong>Portfolio Website:</strong>Created a personal portfolio site using HTML, CSS, and JavaScript to display skills, projects, and 
        certifications in a clean and modern format.</li>
    </ol>
    </section>
    </body>
</html>
{% endblock %}








 


 

