{% extends 'base.html' %}
{% load static %}

{% block title %}Projects{% endblock %}

{% block content %}

<html>
    <body>
    <h1> Projects</h1>
    <ol>
        <li><strong>WhatsApp Message Automation:</strong>Developed a Python-based script using pyautogui and pywhatkit to automatically send scheduled messages 
        through WhatsApp to specific contacts.</li>
        <li><strong>Wikipedia Search Bot:</strong>Created a simple Python tool that uses pywhatkit to search for topics on Wikipedia and return summarized 
        information directly in the terminal.</li>
        <li><strong> Spotify Song Search App:</strong>Used Spotipy (Spotify API wrapper for Python) to build a small app that searches for songs and fetches 
        track details using client credentials.</li>
        <li><strong>Basic Portfolio Website:</strong>Designed a personal website using HTML, CSS, and JavaScript to showcase projects, skills, and contact
        information.</li>
    </ol>
    </body>
</html>

{% endblock %}

 

 



 
