{% extends 'base.html' %}
{% load static %}

{% block title%} services {% endblock title%}

{% block body %} 
<html>
    <body>
    <h1> Services</h1>
    <ol>
        <li><strong> Web Development:</strong>Designing and building basic websites using HTML, CSS, JavaScript,and Django — 
         suitable for portfolios, student projects, small businesses, building website and web applications.</li>
         <li><strong>Photography and Videography:</strong>Capturing images and videos for various purposes.</li>
         <li><strong> Writing and Content Creation: </strong>Producing blog posts, articles, website copy, marketing materials and 
         other written content</li>
    </ol>
    </body>
</html> 
{% endblock body %}


 

 

