{% extends 'home.html' %}
{% load static %}

{% block title %}Skills{% endblock %}

{% block content %}
<html>
    <h2>Skills</h2>
    <body>
    <h1>Technical skills:</h1>
    <ol>
        <li><strong>Programming Languages:</strong>Python, C, Java </li>
        <li><strong>Web Technologies:</strong> HTML, CSS, JavaScript </li>
        <li><strong>Frameworks & Libraries:</strong> Django, Tkinter, PyAutoGUI, pywhatkit </li>
        <li><strong>Tools & Platforms:</strong>GitHub, VS Code </li>
        <li><strong>Others:</strong>Arduino, Spotipy, Pygame </li>
    </ol>
    <h1>Soft skills:</h1>
    <ol>
        <li>Good Communication</li>
        <li>Problem-Solving</li>
        <li>Teamwork and Collaboration</li>
        <li>Time Management</li>
        <li>Creative Thinking </li>
    </ol>
    </body>
</html>
{% endblock %}


 
 
 
 
 
 

