{% extends 'base.html' %}
{% load static %}

{% block title %}About Me{% endblock %}
<div class="about-container">
    <h1>About Me</h1>
    <img src= "https://th.bing.com/th/id/OIP.hm4kpd8CxXFh6XFniVv3fgAAAA?w=281&h=180&c=7&r=0&o=7&dpr=1.5&pid=1.7&rm=3" style="width:200px; border-radius: 10px;">
    <p>Hello! Our Team name is The Bug Squashers, and we highly motivated, results-oriented engineering student at Sv-yasa Deemed to be University,Specializing in DataScience,AIML,CyberSecurity,CSE Engineering</p>
    <p>We have experience with  HTML, CSS, JavaScript. In my free time, We enjoy learning new technologies.</p>
</div>


{% block content %}

{% endblock %}
