{% extends 'base.html' %}
{% load static %}
{% block title %}Featured   {% endblock %}

{% block content %}
I have been featured in various publications and platforms for my work in web development, photography, and creative writing. Here are some highlights
TEDX SVyasa
Codeverse-2025
where I showcased my technical skills and creativity.
Being recognized among the top contributors was a proud moment that
boosted my confidence and motivation to keep learning and growing in the
field of development.
{% endblock %}
