{% extends 'base.html' %}
{% load static %}
{% block title %}About Me{% endblock %}

{% block content %}
 <div class="container mt-5">
  <h2 class="mb-4 text-center">Certifications 🎓</h2>

  <div class="row">
    <!-- Certificate 1 -->
    <div class="col-md-6 mb-4">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title">python Fundamentals</h5>
          <p class="card-text">
            Issued by: [Svyasa] <br>
            Year: [2026] <br>
            Credential ID: [548568] <br>
            Description: Covered core concepts of Djogan, with hands-on projects in digital logic design.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}