{% extends 'base.html' %}
{% load static %}
{% block title %}Education{% endblock %}

{% block content %}
<div class="container mt-5">
  <h2 class="mb-4 text-center">My Academic Journey 🎓</h2>
  <div class="row">
    <div class="col-md-6 mb-4">
      <div class="card shadow-sm">
        <div class="card-body">
          <h4 class="card-title">Bachelor of Technology in Computer Science</h4>
          <p class="card-text">
            University Name – [Svyasa School of advance studies] <br>
            Duration – [2024] to [2029] <br>
            CGPA – [7.89] <br>
            Highlights – Explored HDL projects, database systems.
          </p>
        </div>
      </div>
    </div>

{% endblock %}
