{% extends 'base.html' %} {% load static %} {% block title %}About Me{% endblock %} {% block content %}
<h2>My Certifications</h2>

<ul>
    <li>Dance Certificate – Intercollege Cultural Fest</li>
    <li>Python Programming Certificate – CodeVerse 2025</li>
</ul>

<h3>MUsic Certificate:</h3>
<img src="{% static 'images/Music_certficate.jpg' %}" alt="Dance Certificate" width="300">

<h3>Coding Certificate:</h3>
<img src="{% static 'images/coding_cert.jpg' %}" alt="Coding Certificate" width="300"> {% endblock %}