{% extends 'base.html' %}
{% load static %}
{% block title %}blog{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>My Blog Posts</h2>
    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title">Blog Post Title</h5>
            <p class="card-text">This is a short summary of the blog post. I will be posting about my projects, experiences, or tutorials.</p>
            <a href="#" class="btn btn-primary">Read More</a>
        </div>
    </div>
</div>
 {% endblock %}