{% extends 'home.html' %}
{% load static %}

{% block title %}My Skills{% endblock %}

{% block content %}
<div class="container mt-5 mb-5">
  <h2 class="text-center mb-5">My Skills</h2>
  
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow-lg border-0 mb-4">
        <div class="card-body p-4">
          <h3>Technical Skills</h3>
          <ul>
            <li>Python, JavaScript, HTML</li>
            <li>Django</li>
            <li>Git, GitHub</li>
          </ul>
        </div>
      </div>
      
      <div class="card shadow-lg border-0">
        <div class="card-body p-4">
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}