{% extends 'base.html' %}
{% load static %}
{% block title %}About Me{% endblock %}

{% block content %}
<h2>My Certificate</h2>
<ul>
    <li>Dance Certificate - Intercollege Compitition</li>
    <li>Programming Certificate - CodeVerse 2025</li>
</ul>
<h3>Dance Certificate:</h3>
<img src="{% static 'images/dance_cert.jpg' %}" alt="Dance Certificate" width="300">
<h3>Programming Certificate:</h3>
<img src="{% static 'images/coding_cert.jpg' %}" alt="Programming Certificate" width="300"> 
{% endblock %}