{% extends 'base.html' %}
{% load static %}
{% block title %}Education{% endblock %}

{% block content %}
<div class="Featured-project"
     <h3>CODEVERSE</h3>
     <p>I gained hands-on experience in web development using Django</p>
     <p> I built a complete personal portfolio website from scratch, covering front-end and back-end
     integration. The program helped me strengthen my skills in HTML, CSS, Python, and templating 
     with Django, while also improving my understanding of project structure and deployment. 
     It was a great learning journey that boosted my confidence in real-world development.</p> div>




{% endblock %}
