{% extends 'home.html' %}
{% load static %}
{% block title %}Education{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center mb-5">My Educational Background</h2>
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="card-title">B.Tech in Artificial Intelligence & Machine Learning</h3>
                    <h5 class="card-subtitle mb-2 text-muted">2024–2028</h5>
                    <p class="card-text">S-Vyasa Deemed To Be University</p>
                    <p class="card-text">Currently pursuing a Bachelor's degree in Artificial Intelligence & Machine Learning.</p>
                    <img src="{% static 'IMG/SVyasa.jpg ' %}" style="float: right;" alt="SVyasa logo">
                </div>
            </div>
            
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="card-title">Senior Secondary (12th)</h3>
                    <h5 class="card-subtitle mb-2 text-muted">2024</h5>
                    <p class="card-text">St.Germain Pu college, 12th</p>
                    <p class="card-text">Completed senior secondary education with a focus on Science (CSC).</p>
                    <img src="{% static 'IMG/G.jpg ' %}" style="float: right;" alt=" logo">
                </div>
            </div>
            
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="card-title">Secondary (10th)</h3>
                    <h5 class="card-subtitle mb-2 text-muted">2022</h5>
                    <p class="card-text">SKEI - Smt. Kamalabai Educational Institution, 10th</p>
                    <p class="card-text">Completed secondary education.</p>
                    <img src="{% static 'IMG/Skei.jpg ' %}" style="float: right;" alt=" logo">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
