{% extends 'home.html' %}
{% load static %}

{% block title %}Services{% endblock title%}

{% block content %}
<div class="container mt-5 mb-5">
  <h2 class="text-center mb-5">My Services</h2>
  
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow-lg border-0">
        <div class="card-body p-4">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Freelance Website Development</li>
            <li class="list-group-item">Python Automation Scripts</li>
            <li class="list-group-item">Technical Documentation Writing</li>
            <li class="list-group-item">Portfolio & Resume Building Assistance</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block body %} this is service block body {% endblock body %}