{% extends 'base.html' %}
{% load static %}
{% block title %}blog{% endblock %}
<div class="blog-grid">
  <div class="blog-card">
    <h3>How to Start a Side Hustle</h3>
    <p>Tips for launching your own gig economy venture.</p>
    <a href="hustle.html">Read More</a>
  </div>
  <div class="blog-card">
    <h3>Mindful Living in 2025</h3>
    <p>Simple habits to embrace presence and clarity.</p>
    <a href="mindful.html">Read More</a>
  </div>
</div>

{% block content %}

 {% endblock %}
