{% extends 'base.html' %}
{% load static %}

{% block title %}Contact{% endblock %}

{% block content %}
<div class="container mt-5">
  <h1 class="text-center mb-4">Contact Me</h1>

  <div class="row justify-content-center">
    <div class="col-md-6">
      <ul class="list-group">
        <li class="list-group-item">
          <strong>Email:</strong> amishaa032@gmail.com
        </li>
        <li class="list-group-item">
          <strong>Phone:</strong> +91 9632026571
        </li>
        <li class="list-group-item">
          <strong>LinkedIn:</strong> 
          <a href="www.linkedin.com/in/amisha-s-ab5706254" target="_blank">
            amisha-s-ab5706254
          </a>
        </li>
        <li class="list-group-item">
          <strong>GitHub:</strong> 
          <a href="https://github.com/AMISHA-1502" target="_blank">
           https://github.com/AMISHA-1502
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}