<div class="about-section">
    <h1>About Me </h1>   
    <h2>👋 Hello, I'm Darshan K</h2>
    <p>
        I'm a student pursuing my Btech engineering currently in my 2nd year.I spent my time learning python .
    </p>
    <p>
       I’ve worked on several  projects that helped me strengthen my problem-solving skills and deepen my understanding of real-world applications.
        I enjoy learning new languages and work in new projects
    </p>
    <p>
        I enjoy participating in certification courses, learning about new tools, and working on collaborative tech initiatives.
        I also love sharing what I learn—whether it's through blogs, presentations, or real-time meet.
    </p>
    <p>
        except academics i love spending time with friends,playing cricket and travelling .
    </p>
    <p>
        Feel free to check out my <a href="{% url 'projects' %}">Projects</a> page to see what I’ve been working on lately!
           And my Contact details  <a href="{% url 'contact' %}">Contact</a> pages to learn more.
    </p>
