{% extends 'home.html' %}
{% load static %}

{% block title %}About Me{% endblock %}

{% block content %}
<div class="container py-5">
  <h2 class="mb-4">Skills</h2>

  <h4>Technical Skills</h4>
  <ul class="list-group mb-4">
    <li class="list-group-item">HTML</li>
    <li class="list-group-item">CSS</li>
    <li class="list-group-item">JavaScript</li>
    <li class="list-group-item">React</li>
    <li class="list-group-item">Python</li>
  </ul>

  <h4>Soft Skills</h4>
  <ul class="list-group">
    <li class="list-group-item">Talking</li>
    <li class="list-group-item">Volunteering</li>
  </ul>
</div>
{% endblock %}
