{% extends 'base.html' %}
{% load static %}
{% block title %}Education{% endblock %}



{% block content %}
<div class="container mt-5">
  <h1 class="text-center mb-4">My Education</h1>

  <!-- B.Tech -->
  <div class="card mb-3 shadow-sm">
    <div class="card-body">
      <h5 class="card-title">B.Tech in Computer Science and Engineering (Information Technology)</h5>
      <p class="card-text">S-VYASA Deemed to be University, Bangalore<br><strong>2024 – 2028</strong></p>
    </div>
  </div>

  <!-- Class 12 -->
  <div class="card mb-3 shadow-sm">
    <div class="card-body">
      <h5 class="card-title">Class 12 – PCMC</h5>
      <p class="card-text">Brilliant PU College, Hassan<br><strong>2020 – 2022</strong></p>
    </div>
  </div>

  <!-- Class 10 -->
  <div class="card shadow-sm">
    <div class="card-body">
      <h5 class="card-title">Class 10</h5>
      <p class="card-text">Government High School, Devihalli<br><strong>2018 – 2020</strong></p>
    </div>
  </div>
</div>



{% endblock %}
