
<div class="about-section">
    <h1>About Me </h1>   
    <h2>👋 Hello, I'm Sushma</h2>
    <p>
        I'm a student pursuing my Btech engineering currently in my 2nd year.I spend most of my time exploring areas like Python programming and web development.
    </p>
    <p>
       I’ve worked on several academic and personal projects that helped me strengthen my problem-solving skills and deepen my understanding of real-world applications.
        I believe in continuous learning and always strive to expand my knowledge both in and outside the classroom.
    </p>
    <p>
        Apart from academics, I enjoy participating in certification courses, learning about new tools, and working on collaborative tech initiatives.
        I also love sharing what I learn—whether it's through blogs, presentations, or real-time meet.
    </p>
    <p>
        When I’m not with my laptop or out of college, you’ll probably find me exploring new cafes,spending time with friends, or testing my limits with new personal challenges.
    </p>
    <p>
        Feel free to check out my <a href="{% url 'projects' %}">Projects</a> page to see what I’ve been working on lately!
           And my Contact details  <a href="{% url 'contact' %}">Contact</a> pages to learn more.
    </p>

