
<div class="projects-section">
    <h2>🛠️ Projects</h2>

    <div class="project-item">
        <h3>Tic-Tac-Toe</h3>
        <p>A game built using html,css and javascript code.</p>
        <a href="https://github.com/Sushma895/tic-tac-toe.git" target="_blank">View on GitHub</a>
    </div>

    <div class="project-item">
        <h3>Rock,Paper,Scissors</h3>
        <p>A rock,paper,scissor game built with only html code .</p>
        <a href="https://github.com/Sushma895/Rock-Paper-Scissors.git" target="_blank">View on GitHub</a>
    </div>

    <div class="project-item">
        <h3>Simple Calculator</h3>
        <p>An app that performs basic calculation like addition,subtraction,multiplication and division.</p>
        <a href="https://github.com/Sushma895/Simple-Calculator.git" target="_blank">View on GitHub</a>
    </div>
</div>
