{% extends 'base.html' %}
{% load static %}

{% block title %}About Me{% endblock %}

{% block content %}
💬 About Me
Hi, I'm Nithya L , a passionate and curious individual with a deep interest in creating impactful digital experiences. Whether it’s building intuitive user interfaces, solving real-world problems through code, or exploring new tools and technologies, I love bringing ideas to life.

I'm a quick learner, a team player, and constantly looking to improve my skills. I believe in clean code, good design, and meaningful collaboration.

When I’m not working on a project, you’ll find me exploring tech trends, helping others, or learning something new every day.

Let’s build something great together!

{% endblock %}
