{% extends 'base.html' %}
{% load static %}
{% block title %}Education{% endblock %}

{% block content %}
<div class="container">
        <h1>My Education</h1>

        <div class="education-block">
            <h2>10th Grade </h2>
            <p class="course-info">CBSE</p>
            <p>I completed my 10th grade with <span class="percentage">92%</span>.</p>
        </div>

        <div class="education-block">
            <h2>12th Grade </h2>
            <p class="course-info">CBSE</p>
            <p>My 12th grade was in the PCMC course, and I scored <span class="percentage">86%</span>.</p>
        </div>

        <div class="education-block">
            <h2>B.Tech Software Engineering (Currently Pursuing)</h2>
            <p class="course-info">S-VYASA Deemed to be University </p>
            <p>I am currently pursuing my 2nd year B.Tech and have achieved the following grades:</p>
            <p>First Semester: <span class="percentage">9.23 SGPA</span></p>
            <p>Second Semester: <span class="percentage">9.68 SGPA</span></p>
        </div>
    </div>


{% endblock %}
{% block extra_css %}
<style>
body {
    font-family: Arial, sans-serif;
    background-color: #f6f6f8ff;
    color: #333;
    margin: 0;
    padding: 0;
}


.container {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background-color: rgba(208, 222, 230, 0.89);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.19);
}

h1 {
    text-align: center;
    color: #292a2fff;
    font-family:Bodoni MT;
}

.education-block {
    background-color: #f2f3f3ff;
    border-left: 5px solid #3498db;
    margin: 20px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.16);
}

.education-block h2 {
    color: #1b4e70ff;
    font-family:Bodoni MT;
}

.education-block p {
    font-size: 16px;
    margin: 10px 0;
}

.education-block .course-info {
    font-weight: bold;
    color: #16a085;
}

.percentage {
    color: #c13e30ff;
    font-weight: bold;
}

.school-name, .college-name {
    font-style: italic;
    color: #879697ff;
}
</style>
{% endblock %}

