{% extends 'base.html' %}
{% load static %}

{% block title%} contact {% endblock title%}

{% block body %}
<div class="container mt-5">
  <h2 class="mb-4 text-center">About Me 👨‍💻</h2>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow-sm p-4">
        <p class="text-center">
        Phone: +91 1234567890
        </p>
        <p class="text-center">
        EMAIL:narulemanas@gmail.com
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
