{% extends 'base.html' %}
{% load static %}

{% block title %}About Me{% endblock %}
{% block header %}
<h1>About Me</h1>
{% endblock %}
{% block content %}
<div class="about-section">
    <h2>Ramanee Kaanth</h2>
    <p>
        I'm a B.Tech student studying at S-Vyasa Deemed to be University.
    </p>
    <h3>Certificates</h3>
    <ul>
        <li>Fundamentals of Python</li>
        <li>JavaScript</li>
        <li>CSS</li>
        <li>HTML</li>
        <li>C++</li>
    </ul>
    <h3>Project</h3>
    <ul>
        <li>Basic Command-line OS</li>
    </ul>
    <h3>Languages</h3>
    <ul>
        <li>English (Fluent)</li>
        <li>Telugu (Fluent)</li>
        <li>Tamil (Fluent)</li>
        <li>Hindi (A little bit)</li>
    </ul>
    <h3>Freelancing</h3>
    <p>
        I was freelancing on Fiverr (Video Editing).
    </p>
</div>
{% endblock %}
