{% extends 'base.html' %}
{% load static %}

{% block title%} services {% endblock title%}
{% block content %}
<div class="services-page">
    <h1>My Services on Fiverr</h1>
    <p>Welcome! I offer a variety of professional services on Fiverr to help you achieve your goals. Here are some of the services I provide:</p>
    <ul>
        <li><strong>Web Development:</strong> Custom websites, landing pages, and web applications using modern technologies.</li>
        <li><strong>WordPress Customization:</strong> Theme setup, plugin integration, and site optimization.</li>
        <li><strong>Consultation:</strong> Technical advice and project planning sessions.</li>
    </ul>
    <p>
        Interested in working together? Visit my 
        <a href="https://www.fiverr.com/" target="_blank">Fiverr profile</a> 
        to see more details and get in touch!
    </p>
</div>
{% endblock content %}
{% block body %} this is service block body {% endblock body %}