<div class="contact-section">
    <h2>📬 Get in Touch </h2>
    
    <p>If you'd like to connect—whether it's about a project, collaboration, or just to say hello—feel free to reach out through the form below.</p>

    <form method="POST" action="{% url 'contact' %}">
        <label for="name">Your Name:</label><br>
        <input type="text" id="name" name="name" required><br><br>

        <label for="email">Your Email:</label><br>
        <input type="email" id="email" name="email" required><br><br>

        <label for="message">Message:</label><br>
        <textarea id="message" name="message" rows="5" required></textarea><br><br>

        <button type="submit">Send Message</button>
    </form>

    <div class="contact-info">
    <p><strong>Email:</strong> 
        <a href="mailto:ganavijp05@gmail.com" target="_blank">ganavijp05@gmail.com</a>
    </p>
    <p><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/ganavi-j-b64914376/?lipi=urn%3Ali%3Apage%3Ad_flagship3_feed%3BG3myOadySXCXrXGN6SiWyg%3D%3D" target="_blank">yourusername</a></p>
    <p><strong>GitHub:</strong> <a href="https://github.com/GANAVI336" target="_blank">github.com/yourusername</a></p>
</div>


