{% extends 'base.html' %}

{% block content %}
<section class="about-section">
  <div class="container">
    

    <div class="about-content">
        <h1></h1>
        <h1></h1>
        <h1></h1>
      
      <p>Hello! I'm <strong>Chaitanya KS</strong>, a passionate and dedicated developer currently pursuing my education in Computer Science. I enjoy creating clean, responsive, and user-friendly websites and web applications.</p>

      <p>My journey into programming started with curiosity and has grown into a deep passion for software development. I am especially interested in <strong>full-stack development, machine learning</strong>, and solving real-world problems through code.</p>

      <p>Outside of tech, I enjoy reading, sketching, and exploring new tools and frameworks. I strongly believe in continuous learning and collaboration.</p>

      <h3>Goals</h3>
      <ul>
        <li>Build scalable and efficient web applications.</li>
        <li>Contribute to open-source projects and tech communities.</li>
        <li>Keep learning and improving my skills in AI, backend systems, and UI/UX design.</li>
      </ul>

      
    </div>
  </div>
</section>
{% endblock %}
