{% extends 'base.html' %}
{% load static %}

{% block title %}About Me{% endblock %}

{% block content %}
<h3>Hello! This is Trisha</h3>
<p>I'm currently pursuing Btech 2nd year in Svyasa deemed to be university Banglore. I was born in Raichur and shifted to Banglore recently
    my native is very close to my heart . I miss my family and friends fron that place and the memories I have from their .
    I have interest in cooking,listening music,walking,sleeping and sometimes studying</p>

{% endblock %}
