{% extends 'base.html' %}
{% load static %}
{% block title %}About Me{% endblock %}

{% block content %}
 <section id="certifications" style="font-family: sans-serif; padding: 2rem;">
  <h2>📜 Certifications</h2>
  <ul style="list-style: none; padding-left: 0; line-height: 1.8;">
    <li><strong>Python for Everybody Specialization</strong> – University of Michigan (Coursera)<br>
      <em>Completed: June 2024</em>
    </li>
    <li><strong>Responsive Web Design</strong> – freeCodeCamp<br>
      <em>Completed: May 2024</em>
    </li>
    <li><strong>JavaScript Algorithms and Data Structures</strong> – freeCodeCamp<br>
      <em>Completed: April 2024</em>
    </li>
    <li><strong>React Basics</strong> – Meta (Coursera)<br>
      <em>Completed: March 2024</em>
    </li>
    <li><strong>Introduction to Git and GitHub</strong> – Google (Coursera)<br>
      <em>Completed: February 2024</em>
    </li>
  </ul>
</section>
{% endblock %}