{% extends 'home.html' %}
{% load static %}
<h6>Security Awareness Training: Educating staff on phishing, safe online habits, and strong passwords.</h6>

<h6>Basic Vulnerability Scans: Using tools to identify common weaknesses in systems (with permission).</h6>

<h6>Network & Wi-Fi Checks: Reviewing configurations for better security.</h6>


<h6>Simple Policy Drafting: Creating basic guidelines like password policies.</h6>

<h6>Initial Incident Support: Under supervision, helping identify and log early signs of a security breach.</h6>
{% block title%} services {% endblock title%}

{% block body %} this is service block body {% endblock body %}