<section class="about">
    <div class="container">
        <h1>About Me</h1>
        <div class="about-content">
            <img src="https://imgs.search.brave.com/47YlD7_OgtAmkzDLXcVzu5ylb1BAmkz8VP_LmxBPLsk/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly9zdGF0/aWMudmVjdGVlenku/Y29tL3N5c3RlbS9y/ZXNvdXJjZXMvdGh1/bWJuYWlscy8wMDIv/MDIyLzMxOC9zbWFs/bC9zaWxob3VldHRl/LW9mLWEtcGVyc29u/LWluLXByYXllci1p/bi13YXRlci1mcmVl/LXBob3RvLmpwZw"
                alt="Profile Picture" class="profile-pic">
            <div class="bio">
                <h2>Hi! I'm Yashita</h2>
                <p>I’m a passionate student exploring multiple side hustles and building cool projects. I love
                    creativity, coding, yoga, and storytelling.</p>
                <p>Currently studying at Svyasa College and building my journey one step at a time. 🚀</p>
                <a href="{% static 'resume.pdf' %}" download class="btn">Download Resume</a>
            </div>
        </div>
    </div>
</section>