{% extends 'base.html' %}
{% load static %}

{% block title %}About Me{% endblock %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 40px;
            background-color: #f7f7f7;
        }
        .container {
            max-width: 800px;
            margin: auto;
            background: white;
            padding: 30px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }
        h1 {
            color: #333;
        }
        p {
            line-height: 1.6;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>About Us</h1>
        <p>
          I'm Poornima,  I highly motivated and results-oriented engineering student at Sv-yasa, specializing in DataScience Engineering. I am passionate about Html,CSS,Javascript.
        </p>
    </div>
</body>
</html>


{% block content %}

{% endblock %}
