{% extends 'base.html' %}
{% load static %}

{% block title%} services {% endblock title%}

<div class="services-section">
    <h1>Services I Offer</h1>
    <ul>
        <li><strong>Web Development:</strong> Building responsive and dynamic websites using Django, HTML, CSS, and JavaScript.</li>
        <li><strong>Backend Development:</strong> REST API development, database design, and integration using Django and PostgreSQL.</li>
        <li><strong>UI/UX Design:</strong> Designing user-friendly interfaces with clean layouts and accessibility in mind.</li>
    </ul>
</div>

 

{% block body %} this is service block body {% endblock body %}
