{% extends 'base.html' %} 
{% load static %}

{% block title %}About Me{% endblock %}

{% block content %}
<div >
  <h1 >About Me</h1>
  <div>
    <p>Hello! I'm Dhanushri G, a passionate and creative individual with a love for coding, design, and storytelling. I'm currently pursuing my degree and exploring fields like web development, Python programming, and UI design. When I'm not coding, I enjoy dancing, crafting unique earrings, and learning new things every day!</p>

    <p>My goal is to build beautiful, user-friendly applications and continuously grow as a developer. I'm also very organized and enjoy taking up creative challenges that help me blend logic with design.</p>

  </div>
</div>
{% endblock %}
