{% extends 'base.html' %}
{% load static %}

{% block title %}About Me{% endblock %}

{% block content %}
<div >
  <h1 >Certification</h1>
  <div >
    <p>Hello! I'm a tech enthusiast with a passion for development, creativity, and continuous learning. I love building projects that are both useful and fun!</p>
  </div>

  <div >
    <h4>Introduction to Cybersecurity</h4>
    <p>Learned fundamental concepts of cybersecurity, ethical hacking, and network defense techniques.</p>
    <p><strong>Platform:</strong> codeverse </p>
  </div>

</div>
{% endblock %}
