{% extends 'base.html' %}
{% load static %}

{% block title %}Contact{% endblock title %}

{% block content %}    

<div class="container mt-5">
    <h1>Contact Me</h1>

    <p><strong>Email:</strong> dhanushrigp@gmail.com</p>
    <p><strong>Phone:</strong> 8105506566</p>
    <p><strong>GitHub:</strong> <a href="https://github.com/dhanushri-g" target="_blank">github.com/dhanushri-g</a></p>
    <p><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/dhanushri-g-20859b34b/" target="_blank">linkedin.com/in/dhanushri-g</a></p>
</div>

{% endblock %}
