{% extends 'base.html' %}
{% load static %}

{% block title %}Education{% endblock %}

{% block content %}
  <h1>My Education</h1>

  <div>
    <h4>Bachelor of Technology (B.Tech) in cybersecurity.</h4>
    <p><strong>S-vyasa University</strong>, Mysore</p>
    <p>Currently pursuing my undergraduate studies with a focus on programming, embedded systems, and cybersecurity.</p>
  </div>

  <div >
    <h4>PUC (Pre-University Course) PCMC</h4>
    <p><strong>SBS College</strong></p>
    <p>Studied Physics, Chemistry, Mathematics, and Computer Science with a strong foundation in logic and analytical thinking.</p>
  </div>

</div>
{% endblock %}
