{% extends 'base.html' %}
{% load static %}

{% block title %}Contact{% endblock %}

{% block content %}
<div class="container mt-5">
  <h1 class="text-center mb-4">Contact Me</h1>

  <div class="row justify-content-center">
    <div class="col-md-6">
      <ul class="list-group">
        <li class="list-group-item">
          <strong>Email:</strong> sanjanajv0@gmail.com
        </li>
        <li class="list-group-item">
          <strong>Phone:</strong> +91 1234567890
        </li>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}