{% extends 'base.html' %} {% load static %} {% block title %}About NEXTSYNTAX{% endblock %} {% block content %}
<div class="container mt-5">
    <div class="text-center">
        <h2 class="mb-3">Welcome to <strong>NEXTSYNTAX</strong></h2>
        <p class="lead">We are a team that builds useful and easy websites.</p>

    </div>

    <div class="row mt-4">
        <div class="col-md-6">
            <img src="https://images.unsplash.com/photo-1484417894907-623942c8ee29?q=80&w=1332&auto=format&fit=crop&ixlib=rb-4.1.0" class="img-fluid rounded shadow" alt="Teamwork Image">
        </div>
        <div class="col-md-6 d-flex align-items-center">
            <div>
                <h4>About Us</h4>
                <p>At NEXTSYNTAX, we work together to create useful and easy-to-use websites. We enjoy learning from each other and always try to make better, cleaner projects.</p>


                <h4>Our Mission</h4>
                <p>We use smart technology to help people and work well as a team. We’re happy to be part of CodeVerse 2025 and share what we know.</p>

            </div>
        </div>
    </div>
</div>
{% endblock %}