{% extends 'base.html' %}
{% load static %}

{% block title %}Contact{% endblock %}

{% block content %}
<div class="container mt-5">
  <h1 class="text-center mb-4">Contact Me</h1>

  <div class="row justify-content-center">
    <div class="col-md-6">
      <ul class="list-group">
        <li class="list-group-item">
          <strong>Email:</strong> giridhargokul@example.com
        </li>
        <li class="list-group-item">
          <strong>Phone:</strong> +91 97402 79203
        </li>
        <li class="list-group-item">
          <strong>LinkedIn:</strong>
          <a href="https://www.linkedin.com/in/giridhar-gokul-olety-8352b8327/" target="_blank">My profile
          </a>
        </li>
        <li class="list-group-item">
          <strong>GitHub:</strong> 
          <a href="https://github.com/glvgiridhargokul" target="_blank">
            github.com
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}