{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="about-section py-5">
  <div class="container">
    <h2 class="mb-4 text-center">About CodeVerse</h2>
    <p class="text-center mb-5">
      CodeVerse is a vibrant initiative to introduce students to real-world applications of coding and tech skills.
      Through hands-on workshops, collaborative projects, and mentorship, students explore the frontiers of creativity and technology.
    </p>

    <h3 class="text-center mb-4">Meet Team_CV06</h3>
    <div class="row text-center justify-content-center">
      
      <!-- Aniket Sonone -->
      <div class="col-md-4 col-sm-6 mb-4">
        <div class="card shadow h-100">
          <img src="{% static 'IMG/Aniket.jpg' %}" class="card-img-top" alt="Aniket Sonone">
          <div class="card-body">
            <h5 class="card-title">Aniket Sonone</h5>
          </div>
        </div>
      </div>

            <!-- Mohammed Siddiq -->
      <div class="col-md-4 col-sm-6 mb-4">
        <div class="card shadow h-100">
          <img src="{% static 'IMG/Siddiq.jpg' %}" class="card-img-top" alt="Mohammed Siddiq">
          <div class="card-body">
            <h5 class="card-title">Mohammed Siddiq</h5>
          </div>
        </div>
      </div>


      <!-- Nithya L -->
      <div class="col-md-4 col-sm-6 mb-4">
        <div class="card shadow h-100">
          <img src="{% static 'IMG/nithya.jpg' %}" class="card-img-top"  alt="Nithya L">
          <div class="card-body">
            <h5 class="card-title">Nithya L</h5>
          </div>
        </div>
      </div>

      <!-- Bhavya -->
      <div class="col-md-4 col-sm-6 mb-4">
        <div class="card shadow h-100">
          <img src="{% static 'IMG/Bhavya.jpg' %}" class="card-img-top" alt="Bhavya">
          <div class="card-body">
            <h5 class="card-title">Bhavya</h5>
          </div>
        </div>
      </div>

      <!-- Jayashree -->
      <div class="col-md-4 col-sm-6 mb-4">
        <div class="card shadow h-100">
          <img src="{% static 'IMG/Jayashree.jpg' %}" class="card-img-top" alt="Jayashree">
          <div class="card-body">
            <h5 class="card-title">Jayashree</h5>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
{% endblock %}
