{% extends 'base.html' %}
{% load static %}

{% block title %}About Me{% endblock %}

{% block content %}
<center>
<h1 style="background-color:MediumAquamarine;">About Me</h2>
</center>
<pre>
<font size="4px">
<p style="background-color:Thistle;">I am Yuktha S and I study in SVYASA Deemed To Be University.
I have taken up BTECH course and my specialization is Software.
I have completed my first year of BTECH.
My hobbies are listening to music and reading fictional books.</p>
</pre>


{% endblock %}

    