{% extends 'base.html' %}
{% load static %}
{% block title %}About Me{% endblock %}

{% block content %}
<font size="6px">
<center style="background-color:Lavender;"><b>My Certifications</b></center>
<pre>
<font size="4px">
<p>
•	Prompt Design in Vertex AI by Google Cloud
•	Build Real World AI Applications with Gemini and Imagen by Google Cloud
•	Develop GenAI Apps with Gemini and Streamlit by Google Cloud
•	AI Hackathon (Gender Recognition by Voice) by Promptrepo
</p>
</pre>
 
{% endblock %}