{% extends 'home.html' %}
{% load static %}

{% block title %}Skills{% endblock %}

{% block content %}
<br>
<br>
<br>
  <title>Skill List</title>
  <style>
    body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background-color: #c3f4e8ff;
      padding: 40px;
    }

    ul {
      list-style-type: disc;
      padding-left: 20px;
      max-width: 300px;
      margin: 0 auto;
    }

    li {
      margin-bottom: 10px;
      font-size: 18px;
      color: #2c3e50;
      font-weight: 500;
    }
  </style>
  <center>
  <h1><b>My Skills</b></h1>
  </center>
  <ul>
    <li>HTML</li>
    <li>CSS</li>
    <li>JAVASCRIPT</li>
    <li>PYTHON</li>
    <li>REACTJS</li>
    <li>DJANGO</li>
    <li>GITHUB</li>
  </ul>
<br>
<br>
<br>
{% endblock %}