{% extends 'base.html' %}
{% load static %}

{% block title %}Projects{% endblock %}


{% block content %}
 <h1>Project</h1>
    <ul>
        <li>
            <strong>Project Name: Django-Based Personal Portfolio Website</strong>
            <p>Developed a responsive and dynamic personal portfolio website using Django, HTML, CSS, and Bootstrap. The website showcases personal information, projects, skills, certifications, and contact details. Integrated reusable templates and used Django's templating system for clean and efficient code structure. The site follows mobile-first design principles and is optimized for different screen sizes.</p>
        </li>
        <li>
            <strong>Project Name: BrainyQuiz</strong>
            <p>Developed an interactive command-line Quiz Application using Python to help users test their general knowledge. The quiz randomly presents multiple-choice questions, validates answers, tracks the score, and displays the final result.</p>

        </li>
        
    </ul>



{% endblock %}
 
 
 
---
