{% extends 'base.html' %}
{% load static %}

{% block title %}Contact{% endblock %}

{% block content %}
<div class="container mt-5">
  <h1 class="text-center mb-4">Contact Me</h1>

  <div class="row justify-content-center">
    <div class="col-md-6">
      <ul class="list-group">
        <li class="list-group-item">
          <strong>Email:</strong> ullasbgold@gmail.com
        </li>
        <li class="list-group-item">
          <strong>Phone:</strong> +91 8431773783
        </li>
        <li class="list-group-item">
          <strong>LinkedIn:</strong>
          <a href=https://www.linkedin.com/in/ullas-b-ullas-b-7147b9376/ target="_blank">My profile
          </a>
        </li>
        <li class="list-group-item">
          <strong>GitHub:</strong> 
          <a href=https://github.com/Ullasb-cloud999target="_blank">
            github.com
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
