{% extends 'base.html' %}
{% load static %}

{% block title %}About Me:{% endblock %}

{% block content %}
<h1 style="background-color:cadetblue;">About Me</h1>
  <p style="background-color: bisque;">
    I'm a student in <strong>S-VYASA School of Advanced Studies</strong>. I'm studying <strong>Bachelor of Technology (Software Engineering)</strong>.
  </p>
  <p style="background-color: bisque;">
    I love learning about new technologies and applying them in real life to solve problems. I also enjoy traveling and discovering new cultures and traditions.
  </p>
  <p style="background-color: bisque;">
    I'm especially curious about the science and logic behind traditional sayings and practices passed down by our elders.
  </p>
{% endblock %}
