{% extends 'base.html' %}
{% load static %}

{% block title %}About Me:{% endblock %}

{% block content %}
<h1 style="background-color:cadetblue; color: rgb(118, 20, 82); text-align: center; padding: 10px; ">About Me</h1>
<div style="background-color: bisque; padding: 20px; border-radius: 8px; font-family: Arial, sans-serif; font-size: 1.1rem;">
  <p>
    I'm a student in <strong>S-VYASA School of Advanced Studies</strong>, currently pursuing a <strong>Bachelor of Technology (Software Engineering)</strong>.
  </p>
  <p>
    I love learning about new technologies and applying them in real life to solve problems. I also enjoy traveling and discovering new cultures and traditions.
  </p>
  <p>
    I'm especially curious about the science and logic behind traditional sayings and practices passed down by our elders.
  </p>
</div> <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}
