{% extends 'base.html' %}
{% load static %}
{% block title %}blog{% endblock %}

{% block content %}

<h1 style="text-align: center; color: #2c3e50">My Blog Posts </h1>
<div style="max-width: 800px; margin: auto; background-color: #c58383; padding: 19px; border-radius: 10px">
    <p style="font-size: 18px; color: #34495e;">I started my blogs on my <strong> Google Cloud Certifications</strong>. I created <strong> 5 blog posts</strong>, one for each course I completed. </p>
    <p style="font-size: 18px; color: #34495e;"> I published them on <a href="https://medium.com" style="color: #1e6797;"> <strong> Medium.com </strong> </p> </a>
</div> <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

{% endblock %}
