{% extends 'base.html' %}
{% load static %}
{% block title %}About Me{% endblock %}

{% block content %}
<h1> My Certificates</h1>
<h3>1. Introduction to Responsible AI by Google Cloud</h3>
<h3>2. Prompt Design in Vertex AI by Google Cloud</h3>
<h3>3. Build Real World AI Applications with Gemini & Imagen by Google Cloud</h3>
<h3>4. Develop GenAI Apps with Gemini and Streamlit by Google Cloud</h3>
<h3>5. Inspect Rich Documents with Gemini Multimodality and Multimodal RAG by Google Cloud</h3>
<h3>6. Explore Generative AI with the Gemini API in Vertex AI by Google Cloud</h3>
<h3>7. Participation in AI Hackathon (Gender Recognition By Voice) by Promptrepo</h3>
{% endblock %}