{% extends 'base.html' %}
{% load static %}
{% block title %}About Me{% endblock %}

{% block content %}
<h1 style="color: #2c3e50; text-align: center;"> My Certificates</h1>
<h2 style="color: #34495e"> Here are some of the Certificates and learning  experiences I've completed as a part of my journey into AI and Technology:</h2>
<ul style="padding-left: 20px; color: #2c3e50; font-size: 18px; background-color: rgb(241, 176, 200)">
    <li><strong style="color: #1a5a84"> Introduction to Responsible AI</strong>- Google Cloud</li>
    <li><strong style="color: #1a5a84"> Prompt Design in Vertex AI</strong>- Google Cloud</li>
    <li><strong style="color: #1a5a84"> Build Real-World AI Applications with Gemini & Imagen</strong>- Google Cloud</li>
    <li><strong style="color: #1a5a84"> Develop GenAI Apps with Gemini & Streamlit</strong>- Google Cloud</li>
    <li><strong style="color: #1a5a84"> Inspect Rich Documents with Gemini Multimodality and Multimodal RAG</strong>- Google Cloud</li>
    <li><strong style="color: #1a5a84"> Explore Generative AI with the Gemini API in Vertex AI</strong>-Google Cloud</li>
    <li><strong style="color: #1a5a84"> AI Hackathon: Gender Recognition by Voice</strong>- Participated via Promptrepo</li>
</ul>
<h3 style="color: #34495e">These experiences have helped me build a solid foundation in AI, especially in working with Google's advanced tools and platforms.</h3> <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}