{% extends 'base.html' %}
{% load static %}

{% block title%} Contact {% endblock title%}

{% block body %} 
<h1 style="text-align: center; color:rgb(22, 137, 89)"> Contact Me </h1>
<div>
    <h2 style="font-size: 18px; color:rgb(56, 143, 92)"> Feel free to reach out to me through Email or LinkedIn!  </h2>
</div>
<div>
    <a href="mailto:haasinikolindala@gmail.com" style="color: rgb(186, 72, 144); font-size: 20px;">haasinikolindala@gmail.com</a> <br>
    <a href="mailto:haasinikolindala@gmail.com" style="color: rgb(186, 72, 144); font-size: 20px;">LinkedIn: www.linkedin.com/in/haasini-kolindala</a>  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
  
{% endblock %}
