{% extends 'base.html' %}
{% load static %}
{% block title %}Education{% endblock %}

{% block content %}
<h1 style="text-align: center; background-color: cadetblue; color: white; padding: 10px; border-radius: 5px;">My Education</h1>
<div style="padding: 20px; font-family: Arial, sans-serif; font-size: 1.1rem;">
    <div style="background-color: #f0f8ff; padding: 15px; border-left: 5px solid #4682b4; border-radius: 5px;">
        <strong> SSC </strong><br>
        <em>Sri Chaitanya Techno School</em><br>
        Score: <strong>85%</strong>
    </div>
    <div style="background-color: #f5f5dc; padding: 15px; border-left: 5px solid #4682b4; border-radius: 5px;">
        <strong> PUC </strong><br>
        <em>S.G.P.T.A PU College</em><br>
        Score: <strong>90%</strong>
    </div>
    <div style="background-color: #e6ffe6; padding: 15px; border-left: 5px solid #4682b4; border-radius: 5px;">
        <strong> B.E - Software Engineering </strong><br>
        <em>S-VYASA School Of Advanced Studies</em><br>
        Score: <strong>9.05</strong>
    </div>
</div> <br><br><br><br><br><br><br><br><br><br><br><br><br><br>


{% endblock %}
