{% extends 'base.html' %}
{% load static %}
{% block title %}Education{% endblock %}

{% block content %}
<h1 style="color: #9b2363; text-align: center;" > Featuring Haasini</h1>
<div style="background-color: rgb(168, 194, 218); padding: 20px; border-radius: 10px; margin-bottom:20px;">
    <h2 style="color:#116d68">Promptrepo Hackathon</h2>
    <h3 style="color:#0d4d4a"> I participated in an exciting AI Hackathon along with two teammates. We developed an AI model called <strong>"GENDER RECOGNITION BY VOICE"</strong>. Participating in this hackathon provided invaluable insights and skills, including problem-solving, teamwork, and hands-on experience with cutting-edge technologies.
Out of 88 competing teams, 25 advanced to the finals—and our team was one of them!
While we didn't make it to the Top 3, the experience was incredibly rewarding, especially as first-time participants studying in the first year. We gained valuable insights and are excited to continue refining our project.</h3>
    <h3 style="color:#0d4d4a"> Out of 88 teams, only 25 made it to the finals, and our team was one of them! Although we didn't place in the Top 3, the experience was incredible rewarding, especially for first-year students like us. we're motivated to keep improvong our projects and learning more.</h3>
</div>
<div style="background-color: rgb(168, 194, 218); padding: 20px; border-radius: 10px; margin-bottom:20px;">
    <h2 style="color:#116d68">CodeVerse_2025</h2>
    <h3 style="color:#0d4d4a">I'm a part of the <strong>Codeverse_2025</strong>, a summer term course provided by my University. It's been a great learning journey! So far, I've worked on projects like developing a game using python, creating a portfolio using Django, and learning about Git, GitHub, and Open-Source collaboration.   </h3>
    <h3 style="color:#0d4d4a"> I'm also the <strong>Team Leader</strong> of 5 members team. This role taught me how to manage tasks, assign work fairly, and support team members, all while learning and growing together. It has also helped me build confidence in my communication and leadership skills, especially when guiding the team or presenting our ideas.  </h3>
</div> <br><br><br>
{% endblock %}
