{% extends 'base.html' %}
{% load static %}
{% block title %}Education{% endblock %}

{% block content %}
<h1> Featuring Haasini</h1>
<h2>Promptrepo Hackathon</h2>
<h3> I participated in an AI Hackathon along with 2 other Team Members. We developed an AI model called "GENDER RECOGNITION BY VOICE". Participating in this hackathon provided invaluable insights and skills, including problem-solving, teamwork, and hands-on experience with cutting-edge technologies.
Out of 88 competing teams, 25 advanced to the finals—and our team was one of them!
While we didn't make it to the Top 3, the experience was incredibly rewarding, especially as first-time participants studying in the first year. We gained valuable insights and are excited to continue refining our project.</h3>
<h2>CodeVerse_2025</h2>
<h3>I'm a part of the Codeverse_2025, a summer term course provided by my University. I am able to learn many things such as developing a game using python, working in a team, what is open source and how it works, git and github, and even creating a portfolio using DJANGO, and many more exciting things.
    We are a team of 5, in which, I am a Team Leader. I also get to learn how to manage a team and assigning the works equally to everyone in the team and many more things with this role!
</h3>
{% endblock %}
