{% extends 'base.html' %}
{% load static %}

{% block title %}Projects{% endblock %}

{% block content %}
<h1 style="text-align: center; background-color: cadetblue; color: white; padding: 10px; border-radius: 5px;"> My Projects</h1>
<div style="padding: 20px; font-family: Arial, sans-serif; font-size: 1.1rem;">
    <div style="background-color: #f0f8ff; padding: 15px; border-left: #4682b4; border-radius: 5px">
        <strong>1. Gender Recongnition By Voice (AI Project)</strong><br>
        A machine learning project that predicts the gender of a person using their voice. It uses audio features and classification algorithms to achieve accurate results.  
    </div>
    <div style="background-color:#fff8dc; padding: 15px; border-left: #daa520; border-radius: 5px">
        <strong>2. Web Development using HTML, CSS, JAVASCRIPT </strong><br>
        Created interactive and responsive web pages using basic new technologies. This helped me understand how websites are built from the scratch. 
    </div>
    <div style="background-color:#e6ffe6; padding: 15px; border-left: #2e8b57; border-radius: 5px">
        <strong>3. Generative AI Tools</strong><br>
        Explored tools to generate images, videos, and text using artificial intelligence.
    </div>
    <div style="background-color:#f5f5f5; padding: 15px; border-left: #555; border-radius: 5px">
        <strong>4. Git & GitHub Collaboration</strong><br>
        Learned version control using Git and collaborated on group projects via GitHub. Practiced pushing codes, merging branches, and resolving conflicts. 
    </div>
</div> <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}