{% extends 'base.html' %}
{% load static %}

{% block title%} Services {% endblock title%}

{% block body %} 

<h1 style="color: #2c3e50; text-align: center;"> Services that I provide</h1>
<ul>
    <li style="background-color: #ecf0f1; margin: 10px; padding: 15px; border-radius: 8px"> 
        <h3 style="color: #e67e22"> 1. Basic Webpage Development. </h3> 
        <p> I can create simple, clean HTML webpages from scratch that are easy to understand and navigate. </p>
    </li>
    <li style="background-color: #f9f9f9; margin: 10px; padding: 15px; border-radius: 8px"> 
        <h3 style="color: #2980b9"> 2. Styling Webpages. </h3>
        <p> I can add custom CSS styling based on your preferences or instructions to make the webpage visually appealing. </p>
    </li>
    <li style="background-color: #ecf0f1; margin: 10px; padding: 15px; border-radius: 8px">
        <h3 style="color: #e67e22"> 3. Small Python Games. </h3>
        <p> I can develop fun, beginner-friendly games using python, such as tic-tac-toe. </p>
    </li>
    <li style="background-color: #f9f9f9; margin: 10px; padding: 15px; border-radius: 8px"> 
        <h3 style="color: #2980b9"> DJANGO Portfolio Websites. </h3>
        <p> I can build a personal portfolio website using Django to showcase our skills, projects, and contact information.  </p>
    </li>
</ul> <br><br><br>


{% endblock body %}