{% extends 'home.html' %}
{% load static %}

{% block title %}Skills{% endblock %}

{% block content %}

<h1 style="color: #2c3e50; text-align: center;">My skills</h1>
<ul>
    <li style="background-color: #ecf0f1; margin: 10px; padding: 15px; border-radius: 8px">
        <h3 style="color: #2980b9">1. Python</h3>
        <p> A powerful and easy-to-learn programming language used for web development, automation, and data analysis.</p>
    </li>
    <li style="background-color: #f9f9f9; margin: 10px; padding: 15px; border-radius: 8px">
        <h3 style="color: #e67e22">2. HTML</h3>
        <p> The standard languange for creating webpages and structuring content on the web. </p>
    </li>
    <li style="background-color: #ecf0f1; margin: 10px; padding: 15px; border-radius: 8px">
        <h3 style="color: #2980b9">3. CSS</h3>
        <p> Used to style HTML elements and design attractive, resposive webpages. </p>
    </li>
    <li style="background-color: #f9f9f9; margin: 10px; padding: 15px; border-radius: 8px">
        <h3 style="color: #e67e22">4. JAVASCRIPT</h3>
        <p> A scripting language that adds interactivity and dynamic behaviour to websites. </p>
    </li>
    <li style="background-color: #ecf0f1; margin: 10px; padding: 15px; border-radius: 8px">
        <h3 style="color: #2980b9">5. GIT and GITHUB</h3>
        <p> Version control tools that help track code changes and collaborate with others on projects. </p>
    </li>
    <li style="background-color: #f9f9f9; margin: 10px; padding: 15px; border-radius: 8px">
        <h3 style="color: #e67e22">6. DJANGO</h3>
        <p> A high-level Python web framework that allows rapid development of secure and scalable websites. </p>
    </li>
</ul>
{% endblock %}