{% extends 'base.html' %}
{% load static %}

{% block title %}Contact{% endblock title %}

{% block content %}    

<div class="container mt-5">
    <h1>Contact Me</h1>

    <p><strong>Email:</strong> manasa@gmail.com</p>
    <p><strong>Phone:</strong> 8861183235</p>
    <p><strong>GitHub:</strong> <a href="https://github.com/manasa587" target="_blank">github.com/manasa587</a></p>
    <p><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/Manasa S V/" target="_blank">linkedin.com/in/Manasa S V</a></p>
</div>

{% endblock %}
