{% extends 'base.html' %}
{% load static %}
{% block title %}About Me{% endblock %}

{% block content %}
 <section class="py-5">
    <div class="container">
        <h2 class="text-center mb-5">My Certifications</h2>
        
        <div class="row g-4">
            <div class="col-md-6">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="flex-shrink-0">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a1/AWS_logo_RGB.svg/1200px-AWS_logo_RGB.svg.png" alt="AWS Logo" style="width: 60px; height: 60px; object-fit: contain;">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h5>AWS Certified Solutions Architect - Associate</h5>
                                <p class="text-muted">Amazon Web Services | 2023</p>
                                <p>Demonstrated ability to design and deploy scalable systems on AWS.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="flex-shrink-0">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Scrum.org_logo.svg/1200px-Scrum.org_logo.svg.png" alt="Scrum Logo" style="width: 60px; height: 60px; object-fit: contain;">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h5>Professional Scrum Master I</h5>
                                <p class="text-muted">Scrum.org | 2022</p>
                                <p>Validated knowledge of Scrum framework and ability to facilitate Scrum teams.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="flex-shrink-0">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Google_Chrome_icon_%28February_2022%29.svg/1200px-Google_Chrome_icon_%28February_2022%29.svg.png" alt="Google Logo" style="width: 60px; height: 60px; object-fit: contain;">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h5>Google Cloud Professional Data Engineer</h5>
                                <p class="text-muted">Google Cloud | 2021</p>
                                <p>Certified in designing data processing systems and machine learning models on GCP.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="flex-shrink-0">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7d/Microsoft_.NET_logo.svg/1200px-Microsoft_.NET_logo.svg.png" alt="Microsoft Logo" style="width: 60px; height: 60px; object-fit: contain;">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h5>Microsoft Certified: Azure Developer Associate</h5>
                                <p class="text-muted">Microsoft | 2020</p>
                                <p>Proven skills in developing solutions using Microsoft Azure services.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}