{% extends 'base.html' %}
{% load static %}
{% block title %}Education{% endblock %}

{% block content %}
<section class="py-5">
    <div class="container">
        <h2 class="text-center mb-5">My Education</h2>
        
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="timeline">
                    <div class="timeline-item">
                        <div class="timeline-date">2024 - Present</div>
                        <div class="timeline-content">
                            <h4>Computer Science Engineering</h4>
                            <h5>SVYASA Deemed to be University</h5>
                            <p>Specializing in Cybersecurity. SGPA: 8.7/10.0</p>
                        </div>
                    </div>
                    
                    <div class="timeline-item">
                        <div class="timeline-date">2022 - 2024</div>
                        <div class="timeline-content">
                            <h4>Pre-University in Science</h4>
                            <h5>St Anne's Pre-University</h5>
                            <p>Graduated in First Class. 12th Percentage: 65%</p>
                        </div>
                    </div>
                    
                    <div class="timeline-item">
                        <div class="timeline-date">2020 - 2022</div>
                        <div class="timeline-content">
                            <h4>High School Diploma</h4>
                            <h5>Clarence High School </h5>
                            <p>Specialized in Computer Science. 10th Percentage: 70%</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
