{% extends 'base.html' %}
{% load static %}

{% block title %}Contact{% endblock %}

{% block content %}
<div class="container mt-5">
  <h1 class="text-center mb-4">Contact Me</h1>

  <div class="row justify-content-center">
    <div class="col-md-6">
      <ul class="list-group">
        <li class="list-group-item">
          <strong>Email:</strong> 
        </li>
        <li class="list-group-item">
          <strong>Phone:</strong> +91 97402 79202
        </li>
        <li class="list-group-item">
          <strong>LinkedIn:</strong> 
          <a href="https://www.linkedin.com/in/deepak-kumar-810828312" target="_blank">
            linkedin.com/in/
          </a>
        </li>
        <li class="list-group-item">
          <strong>GitHub:</strong> 
          <a href="https://github.com/Deepakkumarr8217" target="_blank">
            github.com/Deepakkumarr8217
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
