{% extends 'base.html' %}
{% load static %}

{% block title %}About Me{% endblock %}


{% block content %}
<div class="container mt-5 about-section">
  <div class="row justify-content-center">
    <div class="col-lg-8 text-center">
      <h2 class="about-heading">About Me</h2>
      <p class="about-text">
        Hello! I'm Harshitha B., a passionate student at S-Vyasa University with a flair for clean code, creative programming, and visually engaging projects. I specialize in Python-based artistic effects, interactive web development, and cloud computing concepts. <br><br>
        When I'm not immersed in code, you'll find me exploring vibrant cultures, soaking in inspiration from my travels, or designing intuitive interfaces that blend beauty with functionality. I believe in the power of iteration, expression through technology, and making even the simplest ideas sparkle.
      </p>
    </div>
  </div>
</div>

{% endblock %}
