{% extends 'home.html' %}
{% load static %}

{% block title %}Skills{% endblock %}

{% block content %}
<div class="container mt-5 skills-section">
  <div class="row justify-content-center">
    <div class="col-lg-10 text-center">
      <h2 class="skills-heading">My Skills</h2>
      <p class="skills-subtext">
        A blend of technical expertise and creative intuition that powers my work and passion.
      </p>
      <div class="row">
        <div class="col-md-6">
          <h4>💻 Technical Skills</h4>
          <ul class="skill-list">
            <li>Python (Turtle, pywhatkit, ASCII art)</li>
            <li>HTML, CSS, JavaScript</li>
            <li>Django Web Framework</li>
            <li>Cloud Computing Concepts</li>
            <li>Git & GitHub Workflow</li>
            <li>Responsive Portfolio Design</li>
          </ul>
        </div>
        <div class="col-md-6">
          <h4>🌟 Soft Skills</h4>
          <ul class="skill-list">
            <li>Creative Problem Solving</li>
            <li>Effective Communication</li>
            <li>Iterative Debugging Approach</li>
            <li>Time Management & Focus</li>
            <li>Collaboration & Teamwork</li>
            <li>Presentation & Documentation</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}