{% extends 'base.html' %}
{% load static %}
{% block title %}Education{% endblock %}

{% block content %}
    <section class="container mt-5">
  <h2>CodeVerse 2025 Feature</h2>
  <p>
    I was featured in the CodeVerse 2025 program for my consistent learning and creative project submission. This recognition inspired me to build this portfolio and share my journey with others.
  </p>
  <img src="{% static 'img/codeverse_event.jpg' %}" class="img-fluid shadow" alt="CodeVerse Event">
</section>



{% endblock %}
