{% extends 'base.html' %}
{% load static %}

{% block title %}About Me{% endblock %}

{% block content %}


<html>
    <head>
        <body>
            <h2><mark>ABOUT ME :-</mark></h2><br><br>
            <h5>
Aspiring software engineer with a love for coding and building helpful tools.
I code every day and enjoy exploring new ways to develop and improve.
Music keeps me focused, and traveling helps recharge my mind and boost confidence.
Driven by curiosity, clarity, and a desire to grow stronger in the software field.</h5>
            </body>
        </head>
        </html>

{% endblock %}
