{% extends 'base.html' %}
{% load static %}
{% block title %}Education{% endblock %}

{% block content %}
<html>
    <head>
        <body>
            <h2><mark>Education :-</mark></h2><br>
            <p>
<h5><b>SVYASA Deemed to be University</b></h5>
<b>Currently pursuing:</b> B.Tech Computer Science Engineering 2nd Year (2024-28)<br>
<b>Relevant coursework:</b> Data Structures, Cloud computing, Python, Django, Basic Electronics
            </p>
        </body>
        </html>

{% endblock %}



