{% extends 'base.html' %}
{% load static %}
{% block title %}Education{% endblock %}

{% block content %}
<html>
    <head>
        <body>
            <h2><mark>FEATURED :-</mark></h2><br>
            <p><strong>CodeVerse_2025 Featured Developer</strong>
Selected as a standout participant in the CodeVerse 2025 program, where I demonstrated practical 
coding skills and creative problem-solving. I built tools that reflected my passion for development 
and was honored among the top contributors. This recognition greatly boosted my confidence and pushed 
me to keep exploring innovative ideas in tech.<p>
        </body>
    </head>
</html>


{% endblock %}
