{% extends 'base.html' %}
{% load static %}

{% block title %}Projects{% endblock %}

{% block content %}
<html>
    <head>
        <body>
            <h2><mark>PROJECTS :-</mark></h2><br>
            <p><h6><b>->LED Blink with Arduino:</b></h6>
Built and programmed a basic LED circuit to understand digital pin control and microcontroller logic.<br><br>
<h6><b>->Local Network Scanning with Nmap:</b></h6>
Executed and interpreted scans to identify connected devices and assess open ports for learning network basics.<br><br>
<h6><b>->WhatsApp Message Automation with pywhatkit:</b></h6>
Developed Python scripts to schedule and send WhatsApp messages for everyday use cases.</p>
            </body>
            </html>


{% endblock %}