{% extends 'home.html' %}
{% load static %}

{% block title %}Skills{% endblock %}

{% block content %}
<html>
    <head>
        <body>
            <h2><mark>SKILLS :-</mark></h2><br>
            <p><b><i>- Arduino prototyping and troubleshooting (Beginner)</i></b><br>
<b><i>- Linux terminal navigation and file management (Basic)</i></b><br>
<b><i>- Network scanning and analysis using Nmap</i></b><br>
<b><i>- WhatsApp automation using pywhatkit and pyautogui</i></b><br>
<b><i>- Effective communication, active listening & teamwork</i></b><br></p>
            </body>
            </html>


{% endblock %}