<a class="nav-link {{ text_color|default:'text-secondary' }} mx-2" href="https://github.com/Tarun-A-19" target="_blank" aria-label="GitHub">
    <i class="fab fa-github {{ icon_size|default:'' }}"></i>
</a>
<a class="nav-link {{ text_color|default:'text-secondary' }} mx-2" href="https://www.linkedin.com/in/tarun-a-453863359/" target="_blank" aria-label="LinkedIn">
    <i class="fab fa-linkedin {{ icon_size|default:'' }}"></i>
</a>
<a class="nav-link {{ text_color|default:'text-secondary' }} mx-2" href="https://www.hackerrank.com/profile/tarun192006" target="_blank" aria-label="HackerRank">
    <i class="fab fa-hackerrank {{ icon_size|default:'' }}"></i>
</a>