{% extends 'base.html' %}
{% load static %}

{% block title %}About Me{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">About Me</h1>
    <div class="row align-items-center">
        <div class="col-md-4 text-center mb-3">
            <img src="{% static 'IMG\navya.jpg' %}" alt="My Photo" class="img-fluid rounded shadow" width="250">
        </div>
        <div class="col-md-8">
            <p class="lead">
                Hi! I'm Navya, a passionate BTech student with a growing interest in web development and programming.
                I enjoy turning ideas into interactive and user-friendly websites.
            </p>
            <p>
                I aim to become a skilled Data Scientist and Full Stack Developer, blending creativity with technology
                to make a meaningful impact. My skills include Python, HTML, CSS, and JavaScript. I’m also building exciting projects like a Hostel Management System and personal Portfolio websites.
            </p>
        </div>
    </div>
</div>
{% endblock %}