{% extends 'base.html' %} {% load static %} {% block title %}Education{% endblock %} {% block content %}
<div class="featured-project">
    <h3>CODEVERSE</h3>
    <p>Explored project building.</p>
    <a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.instagram.com%2Fp%2FDMFnBAQP1eW%2F&psig=AOvVaw3cYsvbdOd09Sqa8c0SBSWn&ust=1753038190775000&source=images&cd=vfe&opi=89978449&ved=0CBYQjRxqFwoTCKDxn6bOyY4DFQAAAAAdAAAAABAk" target="codeversa">CODEVERSE</a>    |
    <a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.instagram.com%2Fp%2FDMKqoK9PEah%2F&psig=AOvVaw3cYsvbdOd09Sqa8c0SBSWn&ust=1753038190775000&source=images&cd=vfe&opi=89978449&ved=0CBYQjRxqFwoTCKDxn6bOyY4DFQAAAAAdAAAAABBn" target="_blank">CODEVERSE</a>
</div>


{% endblock %}